header {
    background-color: black;
    color: aliceblue;
    text-align: center;
    display: flex;
    gap: 20px;
    padding: 20px;
    display: flex;
    
}

.header_text{
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-top: -10px;
}


.title{
    display: flex;
    font-size: 50px;
    padding-left: 50rem;
}

h2{
    display: flex;
    font-size: 30px;
    padding-left: 25rem;
}


.cursos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding-top: 2rem;
}

.curso img{
    display: flex;
    width: 550px;
    padding-left: 1rem;
    border-radius: 2rem;    
}

.curso_titulo{
    display: flex;
    margin-right: 20px;
    padding-left: 17rem;
}

.curso_objetivo{
    display: flex;
    padding-left: 8rem;
}


.barra{
    background-color: rgb(204, 204, 219);
    display: flex;
    justify-content: center;
    gap: 30%;
    width: auto;
    height:100%;
    margin: auto;
    font-size:30px;

    
}


