*{
    margin: 0;
    padding: 0;
}

.encabezado{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: rgb(11, 11, 49);
    padding: 40px;
}

.perfil{
    position: absolute;
    left: 20px;
    color: red;
    margin: 0;
    text-decoration: none;
}

.perfil:hover{
    background-color: rgb(41, 39, 105);
    padding: 5px;
    box-shadow: blue 4px 7px 6px;
    border-bottom: 2px solid blue;
}

.titulo{
    color: white;
    text-shadow: blue 10px 10px 5px;
}

.perfil{
    box-shadow: tomato 6px 8px 5px;
    border-bottom: 2px solid tomato;
    border-radius: 14px;
}

body{
    background-color: rgb(30, 34, 70);
}

h2{
    color: red;
    margin-top: 40px;
    text-align: center;
    margin-bottom: 10px;
}

a{
    margin-left: 40%;
    color: white;
    text-decoration: none;
}

a:hover{
    color: blue;
}

footer{
    margin-top: 25%;
}