table{
  
    border-style: groove;

}

th{
 border: 1px solid black;
 padding: 10px;
}

td{
    border: 1px solid black;
    padding: 10px;
}
h1{
    background-color: rgba(150, 106, 49, 0.616);
    text-align: center;
    box-shadow: blue 4px 5px 4px;
    text-shadow: 2px 4px 4px ;

}

body{
    background-color: rgba(40, 101, 105, 0.377);
}