table{
  
    border-style: groove;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: rgb(0, 255, 179) 4px 5px 5px;
}

th{
    background-color: #444fff;
 border: 1px solid rgb(32, 24, 24);
 padding: 10px;
}

td{
    border: 1px solid black;
    padding: 10px;
    background-color: #777ddd;
}

th, td {
    padding: 10px 70px;

}

h1{
    background-color: rgba(150, 106, 49, 0.616);
    text-align: center;
    box-shadow: blue 4px 5px 4px;
    text-shadow: 2px 4px 4px ;

}

body{
    background-color: rgba(24, 187, 199, 0.377);
}
article{
    background-color: rgba(44, 72, 151, 0.281);
    border: 1px solid black;
   text-align: center;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12);
    transition: 0.3s ease;
    box-shadow: rgb(4, 228, 142) 4px 5px 5px;
    margin-top: 20px;
}

article ul{
    text-align: left;

}
hgroup {
    font-size: 40px;
    border: 0px solid #000;
    box-shadow: #441492 7px 5px 5px;
    margin-left: 30%;
    margin-right: 30%;
}
div hgroup{
    width: 100px;
    height: 10px;
    background-color: aquamarine;
    transform: rotate(30deg);
}
img{
    border-radius: 20px;
    margin-top: 10px;
}