header {
    background-color: black;
    color: aliceblue;
    text-align: center;
    display: flex;
    gap: 20px;
    padding: 20px;
}

.header_text{
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-top: -10px;
}


h1{
    display: flex;
    font-size: 2.0rem;
    padding-left: 50rem;
}

h2{
    display: flex;
    font-size: 1.5rem;
    padding-left: 25rem;
}


section img{
    display: flex;
    width: 400px;
    height: auto;
    padding-top: 0.50rem;
    border-radius: 2rem;
    
}

section h3{
    display: flex;
    margin-right: 20px;
    padding-left: 10rem;
}

section p{
    display: flex;
    padding-left: 0.5rem;
}

.curso2 img{
    display: flex;
    width: 400px;
    height: auto;
    border-radius: 2rem;

    
}

section h3{
    display: flex;
    margin-right: 20px;
    padding-left: 10rem;
}

section p{
    display: flex;
    padding-left: 0.5rem;
}




nav ul{
    display: flex;
    width: 200px;
    height: auto; 
    font-size: 2.5;
}